*{   /*seletor geral*/
    margin: 0px;/* margin*/
    color: black; /* cor do seletor geral, seleciona cor para todos os itens no codigo*/
 }
 body{
  background-color: #ccc;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 900px
}


 .tudo{
  background-color: white;
  width: 80%;
  max-width: 900px;
  margin-top: 15px;
  margin-left: 60px;
  margin-bottom: 0px;       
  margin-right: 60px;
  

   

 }

 header{
    background-color: #9af6b1;/*cor do fundo*/
    display: flex;/* para ajustar o display*/
    justify-content: center;/*ajuste do display*/
    align-items: center;/*ajuste dos itens */
    gap: 20px;/*espaço entre os elementos */
    height: 130px;/*altura da coluna colorida*/
    flex-direction: column;/
 }
 h1{
    font-size: 30px;/* define o tamanho da fonte */
 }
 .cabecario a{
    font-size: 22px;
    background-color: rgba(121, 202, 141, 0.69);
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(15, 142, 174);
    
 }
 h2{
    font-size: 38px;
    color:#7ceb98;
 }

 .caixas{
  border: 1px solid #aaa;
  padding: 5px;
  margin: 5px 0;
  background-color: #eee;
 }
.destaque{
  border: 1px solid #aaa;
  padding: 5px;
  margin: 5px 0;
  background-color: #9af6b1;
}
.materias{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px; 
}